/gen
/bin
.DS_Store
scripts/strings.pyc

proguard-project.txt

graphics/stylesheet.css

graphics/resources/bkg_blkheader.png

graphics/resources/bkg_gradient.gif

graphics/resources/bkgheader.png

graphics/resources/h1_hdr.png

scripts/google_account.txt

.settings/org.eclipse.core.resources.prefs

ant.properties

local.properties

libs/armeabi-v7a/gdb.setup

libs/armeabi-v7a/gdbserver

libs/armeabi/gdb.setup

libs/armeabi/gdbserver

/libs/android-feather-library.jar

/libs/armeabi-v7a/
/libs/armeabi/
/libs/x86